<div class="card mt-5">
    <div class="card-body">
        <span>Prueba tecnica de los tres editores S.A.S</span>
        <div class="form-group">
            <a>Realizada por : {{books.nombre}}</a>
        </div>
        <div class="form-group">
            <a>Telefono : {{books.telefono}}</a>
        </div>
        <div class="form-group">
            <a>Correo : {{books.correo}}</a>
        </div>
    </div>
</div>

<img class="center" src="../../../assets/img/logo.png" routerLink="/dashboard" height="150">

<router-outlet></router-outlet>